@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* LIGHT COLOR PALETTE
:root {
  --main-page: #1e90ff;
  --audio-player: #ffffff;
}

DARK COLOR PALETTE
:root {
  --main-page: #1e90ff;
  --audio-player: #ffffff;
} */

* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #181818 !important;
  min-width: 800px !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

#nav-bar-grid {
  display: grid;
  grid-template-rows: 100% !important;
  grid-template-columns:  minmax(10px, 2fr) minmax(10px, 6fr) minmax(10px, 2fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr) !important;
}

#nav-bar-search {
  background: white;
  border: 1px solid #313131;
  padding-left: 10px;
  grid-column: 2 / 3;
  position:relative;
  left:75px;
  margin-bottom: 10px;
  margin-top: 18px;
  height:50px;
}
#magnifying-glass-background{
  background:#313131;
  width:60px;
  height:48px;
  position:relative;
  float:right;
  bottom:51px;
  border: 1px solid white;
}
#magnifying-glass-icon{
  position:relative;
  height:20px;
  float:right;
  top:13px;
  right:20px;
}
#audio-wave-icon, #bell-icon, #profile-icon {
  right:5vw;
  position:relative;
  height: 35px;
}
#nav-bar-search-placeholder-text {
  color:#313131;
  font-weight: bold;
}
#nav-bar-upload {
  grid-column: 5 / 6;
  margin-top: 25px;
  margin-bottom: 10px;
}
#nav-bar-search-placeholder-text {
  color:#313131;
  font-weight: bold;
}
#nav-bar-notifications{
  grid-column: 6 / 7;
  padding-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}
#nav-bar-profile{
  grid-column: 7 / 8;
  padding-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

#nav-bar-logo{
  grid-column: 1 / 2;
  max-height:65px;
  position: relative;
  top:17px;
  left:10px;
}
#grid-layout-container {
  background: white;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(10px, 3fr) minmax(10px, 9fr);
  grid-template-rows: 1fr 1fr 12fr;
  gap: 0px;
}

#nav-bar-container {
  grid-column: 2 / -1;
  background: #181818;
  min-height:11vh;
}

#blur-bar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  min-width: 250px;
  background: #D9D9D9;
  z-index: 1;
  /* box-shadow: 30px 0px 100px rgba(0, 0, 0, 1); */
}
#blur-bar-grid {
    display: grid;
    grid-template-rows: minmax(3fr, 10px) minmax(1fr, 10px) minmax(5fr, 10px);
    grid-template-columns: 100%;
    grid-gap: 10px;
}
#sub-nav{
  grid-column: 2 / 3;
  background: #181818;
  color: white;
  padding-left: 25px;
  overflow:hidden;
}
.sub-nav-text{
  font-size: 1em;
}
.sub-nav-text>a {
  background: #373737;
  margin-right: 5px;
  border: 10px solid #373737;
  color: white;
  border-radius: 2%;
  text-decoration: none;
}
#sub-nav-btm-line {
  width:70vw;
  opacity: .1;
}
#blur-cards-content-container {
  grid-column: 2 / 3;
  padding-left:15px;
  background: #181818;
}

#blur-bar-image {
  position: relative;
  max-width: 19vw;
  padding-left: 2vw;
  padding-top: 3vh;
  min-width: 230px;
  grid-row: 1 / 2;
}

#blur-bar-description {
  position: relative;
  font-size: 16px;
  margin-left: 1vw;
  margin-right: 1vw;
  grid-row: 3 / 4;
}
#react-icon, #comment-icon, #share-icon, #bookmark-icon {
  width:25px;
  min-width: 15px;
  padding-left: 10px;
  padding-right:10px;
}
#react-icon {
  float:left;
  margin-left: 25px;
}
#comment-icon {
  float: left;
}
#share-icon {
  float:right;
}
#bookmark-icon {
  float:right;
  margin-right: 4vw;

}
#interaction-icons-bar {
  grid-row: 2 / 3;
}

#interaction-icons-bar>* {
  display: block;
  margin: 5px 0;
}

.blur-cards-grid {
  display: grid;
  gap: 5vh;
  padding: 10px;
}

@media (max-width: 1000px) {
  .blur-cards-grid {
    grid-template-columns: 100% important;
    grid-template-rows: auto;
    margin-left:50px;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .blur-cards-grid {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: auto;
  }
}

@media (min-width: 1400px) {
  .blur-cards-grid {
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: auto;
  }
}

.blur-cards-grid>div {
  background: #181818;
  display:grid;
  grid-template-columns:4fr 9fr;
  grid-template-rows: 100%;
}

.blur-cards-grid>div>img {
  width: 120px !important;
  height: 120px !important;
  border: 1px solid #a5a5a5;
}

.blur-cards-grid>div>div>* {
  color: white;
  /*
  MANUALLY IMPLEMENTING ELLIPSIS BECAUSE I WANT THEM AFTER SECOND LINE
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
  margin: 0em;
}

.blur-text-content {
  background: #181818;
  padding-left: 10px;
  width: 202.8px;
  float: right;
  position: relative;
}

.blur-text-content-title {
  color: #636363 !important;
}
.selected-blur {
  border: 5px solid black;
  border-style: inner;
  /* TODO: BORDER OFFSETS BLUR SIZE AND SPACING */
}
